.container{
	display:flex;
	justify-content:center;
	align-items:center;
    color:ivory;
    /* for visualizing layout */
    border:1px solid rgb(0, 0, 0);
}

html{
    height:100%;
    width:100%;
}

body{
    /* code below from https://cssgradient.io/ */
	background: rgb(0,0,0);
	background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 24%, rgba(50,50,50,1) 68%, rgba(71,71,71,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 24%, rgba(50,50,50,1) 68%, rgba(71,71,71,1) 100%);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 24%, rgba(50,50,50,1) 68%, rgba(71,71,71,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#474747",GradientType=1);
    /* end gradient code */
    width:80%;
    height:100%;
    margin:auto;
    flex-direction:column;
    min-width:fit-content;
}
#body-ethics{}

header{
    width:100%;
    height:100%;
    flex-direction:column;
}
#header-div{
    width:100%;
    height:25%;
    min-width:fit-content;
}
#header-top-div{
    width:100%;
    height:80%;
}
#header-ethics{
    width:100%;
}
#header-left-div{
    width:25%;
    height:100%;
    flex-direction:column;
    min-width:fit-content;
}
#header-left-name-div{
    width:100%;
    height:50%;
    text-align:center;
}
#header-left-class-div{
    width:100%;
    height:50%;
    text-align:center;
    flex-direction:column;
}
#header-right-div{
    width:75%;
    height:100%;
    min-width:fit-content;
}

nav{
    width:100%;
    height:100%;
}
#nav-div{
    width:100%;
    height:20%;
}
#ethics-nav{
    width:100%;
    height:100%;}
#nav-ul-div{
    width:100%;
    height:100%;}
#nav-ul{
    width:80%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}
.nav-btn{
    width:15%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:ivory;
    font-size:1.5em;
    font-weight:bold;
    border:solid ivory;
    border-width:0px 1px;
}
#nav-btn-home{}
#nav-btn-python{}
#nav-btn-web{}
#nav-btn-ux-ui{}
#nav-btn-ethics{}


main{
    width:100%;
    height:100%;
}
#main-div{
    width:100%;
    height:70%;
}
#main-ethics{
    min-width:fit-content;
}
#main-left-div{
    width:80%;
    height:100%;
    flex-direction:column;
    flex-shrink:0;   /* Prevents shrinking */
}
#main-left-top-div{
    width:100%;
    height:70%;
}
#main-left-top-left-div{
    width:50%;
    height:100%;
}
#main-left-top-right-div{
    width:50%;
    height:100%;
}
#main-left-top-full-div{
    width:100%;
    height:100%;
}
#main-left-bottom-div{
    width:100%;
    height:30%;
}

/* the following ID's starting with #main- may be a bit messy. I had a div that refused to 
stop overlapping other divs, so I tried a few things including min-width:fit-content and 
flex-shrink:0 I've commented the lines to indicate where experimentation occurred. Not sure 
what the fix is exactly. */
#main-right-div{
    width:20%;
    height:100%;
    flex-shrink:0;   /* prevents shrinking, attempt to prevent an overlap in responsive */
}
#main-right-aside-div{
    width:100%;
    height:100%;
    min-width:fit-content;  /* Prevents the aside from shrinking */
}
#main-right-aside-h2{
    width:100%;
    flex-shrink:0; /* Keeps the heading at its content height */
    margin:20px 0px;
    min-width:fit-content;  /* Prevents the heading from shrinking */
}
#main-right-aside-ol-div{
    width:100%;
    flex-grow:1; /* Allows the list to take up remaining space */
    overflow-y:auto; /* Enables scrolling if the content is too long */
}
#main-right-aside-img-div{
    width:100%;
    flex-shrink:0; /* Keeps the image div at its content height */
    max-width:inherit;
}

footer{
    width:100%;
    height:100%;
    flex-direction:column;
}
#footer-div{
    width:100%;
    height:5%;
}
#footer-content-div{
    height:100%;
    width:100%;
}
#footer-p{}

img{}
#img-ethics-duck-01{
    width:inherit;
}

ol{}
.ol-project-links{}
#ol-ethics-links{
    width:70%;
    height:90%;
    line-height:2.5em;
    font-size:1.5em;
}

li{}
.li-project-link{}
#li-ethics-01{}
#li-ethics-02{}
#li-ethics-03{}
#li-ethics-04{}
#li-ethics-05{}
#li-ethics-06{}
#li-ethics-07{}

a{
    text-decoration:none;
    color:ivory;
}

aside{}
.aside-project-links{}
#aside-ethics{
    display:flex;
    flex-direction:column;
    height:100%;
    min-width:fit-content;
}

iframe{}
.iframe-project{}
#iframe-discussion{}
#iframe-paper{}
#iframe-case{}

p{}
.p-project-description{}
#p-ethics-description{}

h1{}
.header-h1{}
#header-right-title-h1{
    margin:0px;
    font-size:3em;
    text-align:center;
}

h2{}
.header-h2{
}
#header-left-name-h2{
    margin:0px;
    font-size:2em;
}
#header-left-class-h2{
    margin:0px;
    font-size:3em;
}
.aside-h2{}
#main-right-aside-h2{
    padding-left:10%;
    text-decoration:underline;
    font-size:1.5em;
    font-weight:bold;
    letter-spacing:0.2em;
}

h3{}
.header-h3{}
#header-left-class-h3{
    margin:0px;
    font-size:1.75em;
}
