body{
    background-color:rgb(111, 111, 111);
    color:darkblue;
}

.container-fluid{
    background-color:silver;
    color:rgb(22, 107, 98);
    min-height:60px;
    margin-bottom:20px;
}

.container-fluid h1{
    text-align:center;
    color:cadetblue;
}

.container, .container-lg{
    background-color:bisque;
    border:3px outset black;
}

.container-fluid p{
    text-align:center;
}
.container p{
    text-align:center;
}

.warning-rainbow{
    text-align:center;
}